<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vote for girl</title>
    <script src="jquery-3.1.1.min.js"></script>
    <style media="screen">
      hr{
        visibility: hidden;
      }
      .a-right{
        float: right;
      }

      #app{
        width: 150px;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(() => {

        $(document).on('click', '#a-truoc', () => {
          var prevIndex = parseInt($('#girl-id').val()) - 1;
          $.get(`/api/info/${prevIndex}`, data => {
            if(data!=''){
              $('#wrapper').html(data);
            }
          });
        });

        $(document).on('click', '#a-sau', () => {
          var nextIndex = parseInt($('#girl-id').val()) + 1;
          $.get(`/api/info/${nextIndex}`, data => {
            if(data!=''){
              $('#wrapper').html(data);
            }
          });
        });

        $(document).on('click', '#a-like', () => {
          var index = $('#girl-id').val();
          $.get(`/api/like/${index}`, nlike => {
              $('#a-like').html(nlike + " Like");
          });
        });
      });
    </script>
  </head>
  <body>
    <div id="wrapper">
      <h1><%=girl.name%></h1>
      <div id="app">
        <a href="#" id="a-truoc">Truoc</a>
        <a href="#" id="a-sau" class="a-right">Sau</a>
        <input type="hidden" id="girl-id" value="<%=girl.id%>">
        <hr>
        <img src="images/<%=girl.image%>" width="150px">
        <hr>
        <a href="#" id="a-like"><%=girl.nlike%> Like</a>
        <a href="#" id="a-dislike" class="a-right"><%=girl.ndislike%> Dislike</a>
      </div>
    </div>
  </body>
</html>
